@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
@font-face {
  font-family: "SF Pro";
  src: url("../public/fonts/SFPro/SFPRODISPLAYREGULAR.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Light";
  src: url("../public/fonts/SFPro/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
